{% extends 'include/base.html' %}
{% load static %}

{% block title %}Account Users{% endblock title %}

{% block imports %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="{% static '/styles/users_account.css' %}">
{% endblock imports %}


{% block content %}
{% include 'include/partials/_topbar.html' %}
<div class="content">
    <a href="{% url 'hub' account.id %}" class="back-button">Voltar</a>
    <h1>Friends of Account {{ account.name }}</h1>  
    <ul>
        {% for user in users %}
            <li>{{ user.username }}</li>
        {% empty %}
            <li>No users found.</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock script %}