{% extends 'include/base.html' %}
{% load static %}

{% block title %}Account Garden{% endblock title %}

{% block imports %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="{% static '/styles/garden.css' %}">
{% endblock imports %}


{% block content %}
{% include 'include/partials/_topbar.html' %}
<div class="content">
    <a href="{% url 'hub' account.id %}" class="back-button">Back</a>
    <h1>Account Garden</h1>  
    <ul>
        {% for tree in trees %}
        <a href="{%url 'trees:tree_detail' tree.id user.id account.id%}" class='object-tree'>
            <li>
                <div><strong>Tree Name:</strong> {{ tree.planted_tree }}</div>
                <div><strong>User:</strong> {{ tree.get_user }}</div>
                <div><strong>Planted At:</strong> {{ tree.planted_at }}</div> 
            </li>
        </a>
        {% empty %}
            <li>No trees planted in this account.</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
